@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after{
  display:block;
  content:"";
  clear:both;
}

.q7-inner{
  margin:0 auto;
}

.q7-box{
  font-size:16px;
  width:225px;
  box-sizing:border-box;
  vertical-align:middle;
}

/*Q7-1*/

.f-box{
  float:left;
  margin-left:50px;
}

.f-box:first-child{
  margin-left:0;
}

/* Q7-2 */
.q7-t-inner{
  display:table;
}

.t-box{
  display:table-cell;
  padding-left:50px;
  vertical-align:middle;
}

.t-box:first-child{
  padding-left:0;
}

/* Q7-3 */
.ib-inner{
  font-size:0;
}

.ib-box{
  display:inline-block;
  margin-left:50px;
}

.ib-box:first-child{
  margin-left:0px;
}

/* Q7-4 */
.flex-inner{  
  display:flex;
  justify-content:space-around;
  align-items:flex-end;
}

.flex-box{
  margin:0 auto;
}

/* Q7-5 */
.ibm-inner{
  vertical-align: top;
  font-size:0;
  display:flex;
}

.ibm-box{
  display:inline-block;
  font-size:16px;
  box-sizing:border-box;
}


.right-box{
  display:inline-block;
  width:auto;
  padding-left:350px;
  margin-left:-300px;
}

.left-text{
  width:300px;
  box-sizing:border-box;
}

/* 回答はここに書いてね */