@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after{
  display:block;
  content:"";
  clear:both;
}

table{
  width:100%;
  table-layout:fixed;
}

th{
  background-color:#2244aa;
  border:solid #dedede 1px;
  color:white;
  font-size:18px;
  line-height:26px;
  padding:10px;
  vertical-align:middle;
}

td{
  text-align:center;
  font-size:16px;
  line-height:22px;
  border:solid #dedede 1px;
  vertical-align:middle;
}

td:first-child{
  background-color:#2244aa;
  border:solid #dedede 1px;
  color:white;
  font-size:18px;
  line-height:26px;
  padding:10px 0;
}

tr:nth-child(even){
  background-color:#ecf1f2;
}

tbody tr:last-child{
  border-top:dashed #000 2px;
}
/* 回答はここに書いてね */
